{% if "match" in bond -%}
{% set m=bond.match %}
[Match]
{% for arg, setting in match_system_arguments.items() %}
{% if arg in m -%}
{{ setting }}={% if m["exclude_" + arg]|default(false) %}!{% endif %}{{ m[arg] }}
{% endif %}
{% endfor %}

{% endif %}
[NetDev]
Name={{ bond.name }}
Kind=bond
{% for arg, setting in netdev_arguments.items() %}
{% if arg in bond -%}
{{ setting }}={{ bond[arg] }}
{% endif %}
{% endfor %}

[Bond]
{% for arg, setting in bond_arguments.items() %}
{% if arg in bond -%}
{{ setting }}={{ bond[arg] }}
{% endif %}
{% endfor %}
