[Match]
{% if "mac_address" in member -%}
MACAddress={{ member.mac_address }}
{% endif %}
{% if "permanent_mac_address" in member -%}
PermanentMACAddress={{ member.permanent_mac_address }}
{% endif %}
{% if "path" in member -%}
Path={{ member.path }}
{% endif %}
{% if "driver" in member -%}
Driver={% if member.exclude_driver|default(false) %}!{% endif %}{{ member.driver }}
{% endif %}
{% if "type" in member -%}
Type={% if member.exclude_type|default(false) %}!{% endif %}{{ member.type }}
{% endif %}
{% if "kind" in member -%}
Kind={% if member.exclude_kind|default(false) %}!{% endif %}{{ member.kind }}
{% endif %}
{% if "original_name" in member -%}
OriginalName={{ member.original_name }}
{% endif %}
{% if "host" in member -%}
Host={% if member.exclude_host|default(false) %}!{% endif %}{{ member.host }}
{% endif %}
{% if "virtualization" in member -%}
Virtualization={% if member.exclude_virtualization|default(false) %}!{% endif %}{{ member.virtualization }}
{% endif %}
{% if "kernel_command_line" in member -%}
KernelCommandLine={% if member.exclude_kernel_command_line|default(false) %}!{% endif %}{{ member.kernel_command_line }}
{% endif %}
{% if "kernel_version" in member -%}
KernelVersion={% if member.exclude_kernel_version|default(false) %}!{% endif %}{{ member.kernel_version }}
{% endif %}
{% if "credential" in member -%}
Credential={% if member.exclude_credential|default(false) %}!{% endif %}{{ member.credential }}
{% endif %}
{% if "architecture" in member -%}
Architecture={% if member.exclude_architecture|default(false) %}!{% endif %}{{ member.architecture }}
{% endif %}
{% if "firmware" in member -%}
Firmware={% if member.exclude_firmware|default(false) %}!{% endif %}{{ member.firmware }}
{% endif %}
{% if "property" in member -%}
Property={% if member.exclude_property|default(false) %}!{% endif %}{% for p in member.property %}"{{ p.name }}={{ p.value }}"{% endfor %}
{% endif %}

[Link]
Name={{ bond.name ~ '-' ~ ansible_loop.index }}
