{% import 'macros.j2' as macros %}

{% if "match" in bond -%}
  {% set m=bond.match %}
[Match]
  {% if "system" in m -%}
{{ macros.generate_mapped_arguments(match_system_arguments, m.system) }}
  {% endif %}
{% endif %}

[NetDev]
Name={{ bond.name }}
Kind=bond
{% if "netdev" in bond -%}
{{ macros.generate_mapped_arguments(netdev_arguments, bond.netdev) }}
{% endif %}

{% if "bond" in bond -%}
[Bond]
{{ macros.generate_mapped_arguments(bond_arguments, bond.bond) }}
{% endif %}
