[Match]
{% for arg, setting in match_system_arguments.items() %}
{% if arg in member -%}
{{ setting }}={% if member["exclude_" + arg]|default(false) %}!{% endif %}{{ member[arg] }}
{% endif %}
{% endfor %}
{% for arg, setting in match_device_arguments.items() %}
{% if arg in member -%}
{{ setting }}={{ member[arg] }}
{% endif %}
{% endfor %}
{% for arg, setting in match_device_excludable_arguments.items() %}
{% if arg in member -%}
{{ setting }}={% if member["exclude_" + arg]|default(false) %}!{% endif %}{{ member[arg] }}
{% endif %}
{% endfor %}
{% if "property" in member -%}
Property={% if member.exclude_property|default(false) %}!{% endif %}{% for p in member.property %}"{{ p.name }}={{ p.value }}"{% endfor %}
{% endif %}

[Link]
Name={{ bond.name ~ '-' ~ ansible_loop.index }}
