{% if "match" in bond -%}
{% set m=bond.match %}
[Match]
{% for arg, setting in match_system_arguments.items() %}
{% if arg in m -%}
{{ setting }}={% if m["exclude_" + arg]|default(false) %}!{% endif %}{{ m[arg] }}
{% endif %}
{% endfor %}

{% endif %}
[NetDev]
Name={{ bond.name }}
Kind=bond
{% if "netdev" in bond -%}
{% for arg, value in bond.netdev.items() %}
{% if value is string or value is integer %}
{{ netdev_arguments[arg] }}={{ value }}
{% elif value is boolean %}
{{ netdev_arguments[arg] }}={{ value|ternary('yes','no') }}
{% else %}
{% for v in value %}
{{ netdev_arguments[arg] }}={{ v }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

[Bond]
{% for arg, value in bond.items() if arg in bond_arguments.keys() %}
{% if value is string or value is integer  %}
{{ bond_arguments[arg] }}={{ value }}
{% elif value is boolean %}
{{ bond_arguments[arg] }}={{ value|ternary('yes','no') }}
{% else %}
{% for v in value %}
{{ bond_arguments[arg] }}={{ v }}
{% endfor %}
{% endif %}
{% endfor %}
