{% import 'macros.j2' as macros %}

{% if "match" in link -%}
  {% set m=link.match %}
[Match]
  {% if "device" in m -%}
{{ macros.generate_mapped_arguments(match_device_arguments, m.device) }}
  {% endif %}
  {% if "system" in m -%}
{{ macros.generate_mapped_arguments(match_system_arguments, m.system) }}
  {% endif %}
{% endif %}

[Link]
Name={{ link.name }}
{% if "link" in link -%}
{{ macros.generate_mapped_arguments(link_arguments, dict(link.items() | rejectattr(0, 'eq', 'name') | list)) }}
{% endif %}
