{% if "match" in link -%}
{% set m=link.match %}
[Match]
{% if "device" in m -%}
{% for arg, value in m.device.items() %}
{% if value is string or value is integer  %}
{{ match_device_arguments[arg] }}={{ value }}
{% elif value is boolean %}
{{ match_device_arguments[arg] }}={{ value|ternary('yes','no') }}
{% else %}
{{ match_device_arguments[arg] }}={{ value|join(' ') }}
{% endif %}
{% endfor %}
{% endif %}
{% if "system" in m -%}
{% for arg, value in m.system.items() %}
{% if value is string or value is integer  %}
{{ match_system_arguments[arg] }}={{ value }}
{% elif value is boolean %}
{{ match_system_arguments[arg] }}={{ value|ternary('yes','no') }}
{% else %}
{% for v in value %}
{{ match_system_arguments[arg] }}={{ v }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

{% endif %}
[Link]
{% for arg, value in link.items() if arg in link_arguments.keys() %}
{% if value is string or value is integer  %}
{{ link_arguments[arg] }}={{ value }}
{% elif value is boolean %}
{{ link_arguments[arg] }}={{ value|ternary('yes','no') }}
{% else %}
{% for v in value %}
{{ link_arguments[arg] }}={{ v }}
{% endfor %}
{% endif %}
{% endfor %}
