%YAML 1.2
---
argument_specs:
  main:
    short_description: Manages systemd-networkd dummy virtual network devices.
    description: |
      This role will create (or update) one item in /etc/systemd/network for
      each specified dummy: a .netdev file for the dummy device
    options:
      dummies:
        description: Attributes of the dummy devices to be managed.
        type: list
        elements: dict
        required: true
        options:
          name:
            description: Name of the network device.
            type: str
            required: true
