%YAML 1.2
---
match_system_arguments: {{ match_system_arguments }}

match_device_arguments: {{ match_device_arguments }}

match_device_excludable_arguments: {{ match_device_excludable_arguments }}

link_arguments: {{ link_arguments }}

link_match_arguments: {{ link_match_arguments }}
