---
match_system_arguments: {{ match_system_arguments }}

match_device_arguments: {{ match_device_arguments }}

network_link_arguments: {{ network_link_arguments }}

network_arguments: {{ network_arguments }}

network_address_arguments: {{ network_address_arguments }}

network_route_arguments: {{ network_route_arguments }}

network_dhcpv4_arguments: {{ network_dhcpv4_arguments }}

network_dhcpv6_arguments: {{ network_dhcpv6_arguments }}

network_ipv6acceptra_arguments: {{ network_ipv6acceptra_arguments }}

network_cake_arguments: {{ network_cake_arguments }}

network_routing_policy_rule_arguments: {{ network_routing_policy_rule_arguments }}
