%YAML 1.2
---
match_system_arguments: {{ match_system_arguments }}

match_device_arguments: {{ match_device_arguments }}

match_device_excludable_arguments: {{ match_device_excludable_arguments }}

network_link_arguments: {{ network_link_arguments }}

network_arguments: {{ network_arguments }}

network_match_arguments: {{ network_match_arguments }}

network_address_arguments: {{ network_address_arguments }}

network_route_arguments: {{ network_route_arguments }}

network_dhcpv4_arguments: {{ network_dhcpv4_arguments }}

network_dhcpv6_arguments: {{ network_dhcpv6_arguments }}

network_ipv6acceptra_arguments: {{ network_ipv6acceptra_arguments }}
