---
- name: manage network drop-in directory
  become: true
  ansible.builtin.file:
    path: "{{ systemd_root ~ '/etc/systemd/network/' ~ network.name ~ '.network.d' }}"
    state: directory
    mode: u=rwx,g=rx,o=
    group: systemd-network

- name: manage network
  become: true
  when: drop_in_for is not defined
  register: _network
  notify: "{{ ansible_role_name ~ ' : reload' }}"
  ansible.builtin.template:
    src: network.j2
    dest: "{{ systemd_root ~ '/etc/systemd/network/' ~ network.name ~ '.network' }}"
    mode: u=rw,g=r,o=
    group: systemd-network

- name: manage network drop-in
  become: true
  when: drop_in_for is defined
  register: _network_drop_in
  notify: "{{ ansible_role_name ~ ' : reload' }}"
  ansible.builtin.template:
    src: network.j2
    dest: "{{ systemd_root ~ '/etc/systemd/network/' ~ drop_in_for ~ '.network.d/' ~ network.name ~ '.conf' }}"
    mode: u=rw,g=r,o=
    group: systemd-network

- name: set fact to indicate result
  ansible.builtin.set_fact:
    systemd_networkd_network_changed: "{{ systemd_networkd_network_changed|default(false) or _network.changed or _network_drop_in.changed }}"
