{% if "match" in vlan -%}
{% set m=vlan.match %}
[Match]
{% for arg, setting in match_system_arguments.items() %}
{% if arg in m -%}
{{ setting }}={% if m["exclude_" + arg]|default(false) %}!{% endif %}{{ m[arg] }}
{% endif %}
{% endfor %}

{% endif %}
[NetDev]
Name={{ vlan.name }}
Kind=vlan

[VLAN]
Id={{ vlan.id }}
