{% import 'macros.j2' as macros %}

{% if "match" in vlan -%}
{% set m=vlan.match %}
[Match]
  {% if "system" in m -%}
{{ macros.generate_mapped_arguments(match_system_arguments, m.system) }}
  {% endif %}
{% endif %}

[NetDev]
Name={{ vlan.name }}
Kind=vlan

[VLAN]
Id={{ vlan.vlan.id }}
