{% if "match" in vlan -%}
{% set m=vlan.match %}
[Match]
{% if "host" in m -%}
Host={% if m.exclude_host|default(false) %}!{% endif %}{{ m.host }}
{% endif %}
{% if "virtualization" in m -%}
Virtualization={% if m.exclude_virtualization|default(false) %}!{% endif %}{{ m.virtualization }}
{% endif %}
{% if "kernel_command_line" in m -%}
KernelCommandLine={% if m.exclude_kernel_command_line|default(false) %}!{% endif %}{{ m.kernel_command_line }}
{% endif %}
{% if "kernel_version" in m -%}
KernelVersion={% if m.exclude_kernel_version|default(false) %}!{% endif %}{{ m.kernel_version }}
{% endif %}
{% if "architecture" in m -%}
Architecture={% if m.exclude_architecture|default(false) %}!{% endif %}{{ m.architecture }}
{% endif %}
{% if "firmware" in m -%}
Firmware={% if m.exclude_firmware|default(false) %}!{% endif %}{{ m.firmware }}
{% endif %}

{% endif %}
[NetDev]
Name={{ vlan.name }}
Kind=vlan

[VLAN]
Id={{ vlan.id }}
