%YAML 1.2
---
argument_specs:
  main:
    short_description: Manages systemd-networkd tunnel virtual network devices.
    description: |
      This role will create (or update) three items in /etc/systemd/network for
      each specified tunnel:
      1) A drop-in directory for the underlying network
      2) A .netdev file for the tunnel device
      3) A .conf file in the drop-in directory connecting the tunnel device
      to the underlying network

      Detailed descriptions of parameters and their behavior can be found in 'man systemd.netdev'.

      Sets fact named 'systemd_networkd_tunnel_changed' to either true or false to indicate whether
      any changes were made.
    options:
      suppress_reload:
        description: Suppress the reloading of systemd-networkd if changes are made.
        type: bool
        default: false
      systemd_root:
        description: Root path of filesystem containing systemd-networkd configuration files.
        type: str
        default: ""
      tunnels:
        description: Attributes of the tunnels to be managed.
        type: list
        elements: dict
        required: true
        options:
          name:
            description: Name of the network device.
            type: str
            required: true
          underlying_name:
            description: The underlying network.
            type: str
            required: true
          kind:
            description: Type of tunnel.
            type: str
            required: true
            choices:
              - gre
              - gretap
              - ip6gre
              - ip6tnl
              - ip6gretap
              - ipip
              - sit
              - vti
              - vti6
              - l2tp
              - wireguard
              - fou
              - xfrm
              - bareudp
          local:
            description: Local address for tunneled packets.
            type: str
          remote:
            description: Remote address for tunneled packets.
            type: str
          ttl:
            description: Time-To-Live for tunneled packets.
            type: int
          netdev:
            description: Attributes of the tunnel network device.
            type: dict
            options:
              mac_address:
                description: MAC address to use on the device.
                type: str
              mtu_bytes:
                description: The MTU for the tunnel.
                type: str
          match:
            description: Matching attributes of the network device.
            type: dict
            options:
              system:
                description: System-specific attributes to be matched.
                type: dict
                options:
                  architecture:
                    description: Match system architecture.
                    type: str
                  credential:
                    description: Match service credential.
                    type: str
                  firmware:
                    description: Match system firmware.
                    type: str
                  host:
                    description: Match hostname or machine ID.
                    type: str
                  kernel_command_line:
                    description: Match kernel command line option presence.
                    type: str
                  kernel_version:
                    description: Match kernel version expression.
                    type: str
                  virtualization:
                    description: Match virtualization type.
                    type: str
