{% if "match" in tunnel -%}
{% set m=tunnel.match %}
[Match]
{% for arg, setting in match_system_arguments.items() %}
{% if arg in m -%}
{{ setting }}={% if m["exclude_" + arg]|default(false) %}!{% endif %}{{ m[arg] }}
{% endif %}
{% endfor %}

{% endif %}
[NetDev]
Name={{ tunnel.name }}
Kind={{ tunnel.kind }}
{% for arg, setting in netdev_arguments.items() %}
{% if arg in tunnel -%}
{{ setting }}={{ tunnel[arg] }}
{% endif %}
{% endfor %}

{% if tunnel.kind in ["ipip", "sit", "gre", "gretap", "ip6gre", "ip6gretap", "vti", "vti6", "iptnl"] %}
[Tunnel]
{% for arg, setting in tunnel_arguments.items() %}
{% if arg in tunnel -%}
{{ setting }}={{ tunnel[arg] }}
{% endif %}
{% endfor %}

{% endif %}
