{% if "match" in tunnel -%}
{% set m=tunnel.match %}
[Match]
{% for arg, setting in match_system_arguments.items() %}
{% if arg in m -%}
{{ setting }}={% if m["exclude_" + arg]|default(false) %}!{% endif %}{{ m[arg] }}
{% endif %}
{% endfor %}

{% endif %}
[NetDev]
Name={{ tunnel.name }}
Kind={{ tunnel.kind }}
{% if "netdev" in tunnel -%}
{% for arg, value in tunnel.netdev.items() %}
{% if value is string or value is integer %}
{{ netdev_arguments[arg] }}={{ value }}
{% elif value is boolean %}
{{ netdev_arguments[arg] }}={{ value|ternary('yes','no') }}
{% else %}
{% for v in value %}
{{ netdev_arguments[arg] }}={{ v }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

{% if tunnel.kind in ["ipip", "sit", "gre", "gretap", "ip6gre", "ip6gretap", "vti", "vti6", "iptnl"] %}
[Tunnel]
{% for arg, value in tunnel.items() if arg in tunnel_arguments.keys() %}
{% if value is string or value is integer  %}
{{ tunnel_arguments[arg] }}={{ value }}
{% elif value is boolean %}
{{ tunnel_arguments[arg] }}={{ value|ternary('yes','no') }}
{% else %}
{% for v in value %}
{{ tunnel_arguments[arg] }}={{ v }}
{% endfor %}
{% endif %}
{% endfor %}

{% endif %}
