{% if "match" in network -%}
{% set v=network.match %}
[Match]
{% for arg, setting in network_match_arguments.items() %}
{% if arg in v -%}
{{ setting }}={{ v[arg] }}
{% endif %}
{% endfor %}
{% for arg, setting in match_system_arguments.items() %}
{% if arg in v -%}
{{ setting }}={% if v["exclude_" + arg]|default(false) %}!{% endif %}{{ v[arg] }}
{% endif %}
{% endfor %}
{% for arg, setting in match_device_arguments.items() %}
{% if arg in v -%}
{{ setting }}={{ v[arg] }}
{% endif %}
{% endfor %}
{% for arg, setting in match_device_excludable_arguments.items() %}
{% if arg in v -%}
{{ setting }}={% if v["exclude_" + arg]|default(false) %}!{% endif %}{{ v[arg] }}
{% endif %}
{% endfor %}
{% if "property" in v -%}
Property={% if network.exclude_property|default(false) %}!{% endif %}{% for p in v.property %}"{{ p.name }}={{ p.value }}"{% endfor %}
{% endif %}

{% endif %}
{% if "link" in network -%}
{% set v=network.link %}
[Link]
{% for arg, setting in network_link_arguments.items() %}
{% if arg in v -%}
{{ setting }}={{ v[arg] }}
{% endif %}
{% endfor %}

{% endif %}
[Network]
{% for arg, setting in network_arguments.items() %}
{% if arg in network -%}
{{ setting }}={{ network[arg] }}
{% endif %}
{% endfor %}
{% for arg, setting in network_multi_arguments.items() %}
{% if arg in network -%}
{% for v in network[arg] }}
{{ setting }}={{ v }}
{% endfor %}
{% endif %}
{% endfor %}
{% if "dhcpv4" in network -%}
{% set v=network.dhcpv4 %}
[DHCPv4]
{% for arg, setting in network_dhcpv4_arguments.items() %}
{% if arg in v -%}
{{ setting }}={{ v[arg] }}
{% endif %}
{% endfor %}

{% endif %}
{% if "dhcpv6" in network -%}
{% set v=network.dhcpv6 %}
[DHCPv6]
{% for arg, setting in network_dhcpv6_arguments.items() %}
{% if arg in v -%}
{{ setting }}={{ v[arg] }}
{% endif %}
{% endfor %}

{% endif %}
{% if "ipv6acceptra" in network -%}
{% set v=network.ipv6acceptra %}
[IPV6AcceptRA]
{% for arg, setting in network_ipv6acceptra_arguments.items() %}
{% if arg in v -%}
{{ setting }}={{ v[arg] }}
{% endif %}
{% endfor %}

{% endif %}
{% if "address" in network -%}
{% for v in network.address -%}
[Address]
{% for arg, setting in network_address_arguments.items() %}
{% if arg in v -%}
{{ setting }}={{ v[arg] }}
{% endif %}
{% endfor %}

{% endfor %}
{% endif %}
{% if "route" in network -%}
{% for v in network.route -%}
[Route]
{% for arg, setting in network_route_arguments.items() %}
{% if arg in v -%}
{{ setting }}={{ v[arg] }}
{% endif %}
{% endfor %}

{% endfor %}
{% endif %}
