{% import 'macros.j2' as macros %}

{% if "match" in network -%}
  {% set m=network.match %}
[Match]
  {% if "device" in m -%}
{{ macros.generate_mapped_arguments(match_device_arguments, m.device) }}
  {% endif %}
  {% if "system" in m -%}
{{ macros.generate_mapped_arguments(match_system_arguments, m.system) }}
  {% endif %}
{% endif %}

{% if "link" in network -%}
[Link]
{{ macros.generate_mapped_arguments(network_link_arguments, network.link) }}
{% endif %}

{% if "network" in network -%}
[Network]
{{ macros.generate_mapped_arguments(network_arguments, network.network) }}
{% endif %}

{% for v in network.addresses | default([]) -%}
[Address]
{{ macros.generate_mapped_arguments(network_address_arguments, v) }}
{% endfor %}

{% for v in network.routes | default([]) -%}
[Route]
{{ macros.generate_mapped_arguments(network_route_arguments, v) }}
{% endfor %}

{% if "dhcp_v4" in network -%}
[DHCPv4]
{{ macros.generate_mapped_arguments(network_dhcp_v4_arguments, network.dhcp_v4) }}
{% endif %}

{% if "dhcp_v6" in network -%}
[DHCPv6]
{{ macros.generate_mapped_arguments(network_dhcp_v6_arguments, network.dhcp_v6) }}
{% endif %}

{% if "ipv6_accept_ra" in network -%}
[IPv6AcceptRA]
{{ macros.generate_mapped_arguments(network_ipv6_accept_ra_arguments, network.ipv6_accept_ra) }}
{% endif %}

{% if "ipv6_send_ra" in network -%}
[IPv6SendRA]
{{ macros.generate_mapped_arguments(network_ipv6_send_ra_arguments, network.ipv6_send_ra) }}
{% endif %}

{% for v in network.routing_policy_rules | default([]) -%}
[RoutingPolicyRule]
{{ macros.generate_mapped_arguments(network_routing_policy_rule_arguments, v) }}
{% endfor %}

{% if "dhcp_prefix_delegation" in network -%}
[DHCPPrefixDelegation]
{{ macros.generate_mapped_arguments(network_dhcp_prefix_delegation_arguments, network.dhcp_prefix_delegation) }}
{% endif %}

{% for v in network.ipv6_prefixes | default([]) -%}
[IPv6Prefix]
{{ macros.generate_mapped_arguments(network_ipv6_prefix_arguments, v) }}
{% endfor %}

{% for v in network.ipv6_route_prefixes | default([]) -%}
[IPv6RoutePrefix]
{{ macros.generate_mapped_arguments(network_ipv6_route_prefix_arguments, v) }}
{% endfor %}

{% if "cake" in network -%}
[CAKE]
{{ macros.generate_mapped_arguments(network_cake_arguments, network.cake) }}
{% endif %}

{% if "dhcp_server" in network -%}
[DHCPServer]
{{ macros.generate_mapped_arguments(network_dhcp_server_arguments, network.dhcp_server) }}
{% endif %}

{% for v in network.dhcp_server_static_leases | default([]) -%}
[DHCPServerStaticLease]
{{ macros.generate_mapped_arguments(network_dhcp_server_static_lease_arguments, v) }}
{% endfor %}
