name: CI

on:
  push:
    branches:
    - main
  pull_request:
    types:
    - opened
    - reopened
    - synchronize
    branches:
    - main
  schedule:
    - cron: "35 4 * * 6"

jobs:
  ci-image:
    runs-on: ubuntu-22.04
    outputs:
      image_base: ${{ steps.details.outputs.image_base }}
      image_tag: ${{ steps.preflight.outputs.image_tag }}
    steps:
    - id: details
      uses: kpfleming/composite-actions/image-details@main
      with:
        base_image: python:bullseye-main
    - uses: actions/checkout@v3
    - id: paths
      uses: dorny/paths-filter@v2
      with:
        filters: |
          paths:
          - 'tox.ini'
          - 'workflow-support/make_ci_image.sh'
          - '.github/workflows/ci.yml'
    - id: preflight
      if: (github.event_name != 'pull_request') || (steps.paths.outputs.paths == 'true')
      uses: kpfleming/composite-actions/ci-preflight@main
      with:
        files_hash: ${{ hashfiles('tox.ini', 'workflow-support/make_ci_image.sh', '.github/workflows/ci.yml') }}
        base_image_hash: ${{ steps.details.outputs.base_image_hash }}
    - id: make-ci-image
      uses: kpfleming/composite-actions/make-ci-image@main
      if: steps.preflight.outputs.need_image == 'true'
      with:
        base_image: ${{ steps.details.outputs.base_image }}
        image_name: ${{ steps.details.outputs.image_base }}:${{ steps.preflight.outputs.image_tag }}
        image_registry: ${{ steps.details.outputs.image_registry }}
        registry_username: ${{ secrets.QUAY_BOT_NAME }}
        registry_password: ${{ secrets.QUAY_BOT_PASSWORD }}
